.nutriscoreA {
  background-color: #017638;
  color: white;
}
.nutriscoreB {
  background-color: #00bd00;
  color: white;
}
.nutriscoreC {
  background-color: #ffff00;
}
.nutriscoreD {
  background-color: #f27718;
  color: white;
}
.nutriscoreE {
  background-color: #e2171d;
  color: white;
}
